<div class="container container-fluid col-sm-10">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Test Keys</div>
            <div class="panel-body">
                <table class="table table-hover table-md table table-responsive">
                    <tr class="bg-primary">
                        <td colspan=2>Company Information</td>
                    </tr>
                    <tr>
                        <td width="65">
                            <label>Company Name:</label>
                        </td>
                        <td width="5" ng-model="company.CompanyName">{{company.CompanyName}}</td>>

                    </tr>
                    
                    <tr>
                        <td width="65">
                            <label>RealmID:</label>
                        </td>
                        <td width="5"  ng-model="company.realmID"><span id="realmID">{{company.realmID}}</span>
                        <span style="padding:6"><button  ng-click="copy();" class="fa fa-clipboard">Copy</button>
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="65">
                            <label>Street:</label>
                        </td>
                        <td width="5" ng-model="company.CompanyAddr.Line1">{{company.CompanyAddr.Line1}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>City:</label>
                        </td>
                        <td width="5" ng-model="company.CompanyAddr.City">{{company.CompanyAddr.City}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>State:</label>
                        </td>
                        <td width="5" ng-model="company.CompanyAddr.CountrySubDivisionCode">{{company.CompanyAddr.CountrySubDivisionCode}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>Zip:</label>
                        </td>
                        <td width="5" ng-model="company.CompanyAddr.PostalCode">{{company.CompanyAddr.PostalCode}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>Phone:</label>
                        </td>
                        <td width="5" ng-model="company.PrimaryPhone.FreeFormNumber">{{company.PrimaryPhone.FreeFormNumber}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>Email:</label>
                        </td>
                        <td width="5" ng-model="company.Email.Address">{{company.Email.Address}}</td>>

                    </tr>
                    <tr>
                        <td width="65">
                            <label>Web:</label>
                        </td>
                        <td width="5" ng-model="company.WebAddr.URI">{{company.WebAddr.URI}}</td>>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>