<div class="container container-fluid col-sm-10" ng-controller="QBOLcontroller">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Test Keys</div>
            <div class="panel-body">
                <form class="form-inline" ng-submit="getAccounts();">
                    <div class="form-group">
                        <label for="realmid">Realm ID</label>
                        <input ng-model="realmid" type="text" class="form-control" id="realmid">
                    </div>
                  <button ng-click="getAccounts()" type="button" class="btn btn-primary btn-md">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>